.container{
    display:flex;
}
main{
    width: 100%;
    padding: 20px;
}
.sidebar{
    background: #0d28a6;
    color: #fff;
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.links{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.links:hover{
    background:lightskyblue;
    color: #000;
    transition: all 0.5s;
}
.active{
    background: lightskyblue;
    color: #000;
}
.icon, .links_text{
    font-size: 20px;
}
.hemo {
    background-color: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
    width: 1200px;
    height: 100px;
}
.tape{
    position: absolute;
    top: 18px;
    left: 230px;
    width: 100px;
    height: 34px;
    background: #cfd4ed;
}
.tapes{
    position: absolute;
    top: 23px;
    left: 360px;
}
.justif{
    position: absolute;
    left: 600px;
}
.linke{
    margin-left: 20px;
}
.buttonn {
    font-family: Helvetica;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #0d28a6;
    border: 1px solid #0d28a6;
    background: #fff;
    width: 61px;
    height: 36px;
    border-radius: 2px;
    margin-left: 133px;
    margin-top: 8px;
}
.dex{
    position: absolute;
    top: 10px;
    left: -40px;
    width: 174px;
    height: 36px;
}
.search{
    position: absolute;
    top: 23px;
    left: -60px;
}
.mail{
    position: absolute;
    top: -10px;
    left: 310px;
}
.full-name{
    margin-left: 410px;
}